import React from 'react';

const {{pascalCase name}}Page = () => {
  return (
    <div>
      <h1>{{pascalCase name}} Page</h1>
      {/* TODO: Implement {{pascalCase name}}Page */}
    </div>
  );
};

export default {{pascalCase name}}Page;
